# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB, and CockroachDB.
# Use this variable to set the database connection URL.
# For example, this connection string is for PostgreSQL with default credentials.
# Documentation for all connection string options: https://pris.ly/d/connection-strings
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"

# NEXTAUTH_SECRET is used by NextAuth.js to encrypt session tokens and other data.
# You can generate a 32-character secret key at the following URL: https://generate-secret.vercel.app/32
# This variable is critical for ensuring the security of your application.
NEXTAUTH_SECRET=

# GOOGLE_CLIENT_ID and GOOGLE_CLIENT_SECRET are used for Google OAuth authentication.
# Obtain these credentials from the Google Cloud Console: https://console.cloud.google.com/apis/credentials
# Ensure that the redirect URL is properly configured in your Google project.
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# GITHUB_ID and GITHUB_SECRET are used for GitHub OAuth authentication.
# Obtain these credentials from GitHub Developer Settings: https://github.com/settings/developers
# Make sure the "Authorization callback URL" matches the one used in your application.
GITHUB_ID=
GITHUB_SECRET=
